.btn-container{
    text-align: center;
    margin-bottom: 10px;
}
.container{
    border: 2px solid black;
}
.menucard{
    text-align: center;
}
.menu-block{
    border: 2px solid black;
}
.title{
    margin-bottom: 10px;
    text-decoration: underline;
    padding: 10px;
    clear: both;
}
.image{
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 10px;
}
.description{
    width: 400px;
    padding: 10px;
    justify-content: center;
}
.price{
    padding: 10px;
}
